<!-- Contact Info -->
<div id="contact_buttons">
    <footer>
        <p>{{ $.Site.Data.config.name }} © {{ dateFormat "2006" now }} |
          powered by <a href="https://github.com/jackyzha0/quartz">Quartz</a></p>
        {{ if not .IsHome }}
        <a href="/">Home</a>
        {{end}}
        {{- range $.Site.Data.config.links -}}
        <a href="{{.link}}">{{.link_name}}</a>
        {{- end -}}
    </footer>
</div>

<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>