<!-- Contact Info -->
<div id="contact_buttons">
    <footer>
        <p>{{ $.Site.Data.config.name }} © {{ dateFormat "2006" now }} |
          powered by <a href="https://github.com/jackyzha0/quartz">Quartz</a></p>
        {{ if not .IsHome }}
        <a href="/">Home</a>
        {{end}}
        {{- range $.Site.Data.config.links -}}
        <a href="{{.link}}">{{.link_name}}</a>
        {{- end -}}
    </footer>
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>